.pointer {
    cursor: pointer
}

#movie-panel,
#music-panel,
#book-panel {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5em;
}

.modal-card-title {
flex-shrink: 1;
}

.new-line {
    flex: 1 100%;
}

.navbar {
    flex-wrap: wrap;
}